<% if dev_logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/developer_info' %>
      </section>
      <%= link_to "新規アプリ登録", new_product_path %>
    </aside>
    
    <!-- 登録アプリ表示 -->
    <div class="col-md-8">
      <h3><%= @developer.developername %>さんの登録アプリ(<%= @developer.products.count %>)</h3>
      <hr />
        <%= render @products %>
    </div>
  </div>
<% end %>
