<ul>
  <li><%= link_to "すべて", top_pages_search_path(category:[1,2,3,4,5,6,7,8,9]) %></li>
  <li><%= link_to "カテゴリー１", top_pages_search_path(category:1) %></li>
  <li><%= link_to "カテゴリー２", top_pages_search_path(category:2) %></li>
  <li><%= link_to "カテゴリー３", top_pages_search_path(category:3) %></li>
  <li><%= link_to "カテゴリー４", top_pages_search_path(category:4) %></li>
  <li><%= link_to "カテゴリー５", top_pages_search_path(category:5) %></li>
  <li><%= link_to "カテゴリー６", top_pages_search_path(category:6) %></li>
  <li><%= link_to "カテゴリー７", top_pages_search_path(category:7) %></li>
  <li><%= link_to "カテゴリー８", top_pages_search_path(category:8) %></li>
  <li><%= link_to "カテゴリー９", top_pages_search_path(category:9) %></li>
</ul>