<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@product) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :appname %>
      <%= f.text_field :appname %>
      
      <%= f.label :summary %>
      <%= f.text_area :summary, :size=>"70x3" %>
      
      <%= f.label :description %>
      <%= f.text_area :description, :size=>"70x6" %>

      <%= f.label :category %>
      <%= select :product, :category, [ ["カテゴリー１", 1], 
                                        ["カテゴリー２", 2], 
                                        ["カテゴリー３", 3], 
                                        ["カテゴリー４", 4], 
                                        ["カテゴリー５", 5], 
                                        ["カテゴリー６", 6], 
                                        ["カテゴリー７", 7], 
                                        ["カテゴリー８", 8], 
                                        ["カテゴリー９", 9]], 
                                        :selected => @product.category %>

      <%= f.label :price %>
      <%= select :product, :price, [["無料", 1], ["有料", 2]], :selected => @product.price %>
      
      <%= f.label :model %>
      <%= select :product, :model, [["iPhone", 1], ["Android", 2], ["Web", 3]], :selected => @product.model %>
      
      <%= f.label :img_icon %>
      <%= f.file_field :img_icon, onchange:"fileChange(event,'disp')" %>
      <div id="disp"></div>
          
      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>