<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@product) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label "アプリネーム" %>
      <%= f.text_field :appname %>
      
      <%= f.label "アプリ概要" %>
      <%= f.text_area :summary, :size=>"70x3" %>
      
      <%= f.label "アプリ説明" %>
      <%= f.text_area :description, :size=>"70x6" %>
      
      <%= f.label :category %>
      <%= select :product, :category, [ ["カテゴリー１", 1], 
                                        ["カテゴリー２", 2], 
                                        ["カテゴリー３", 3], 
                                        ["カテゴリー４", 4], 
                                        ["カテゴリー５", 5], 
                                        ["カテゴリー６", 6], 
                                        ["カテゴリー７", 7], 
                                        ["カテゴリー８", 8], 
                                        ["カテゴリー９", 9] ], 
                                        :selected => @product.category %>

      <%= f.label :price %>
      <%= select :product, :price, [["無料", 1], ["有料", 2]], :selected => @product.price %>
      
      <%= f.label "対応機種" %>
      <table border=0>
        <tr>
          <td width=20>
            <%= f.check_box :model_iphone, :checked => @product.model_iphone %>
          </td>
          <td width=100>
            iPhone
          </td>
        
          <td width=20>
            <%= f.check_box :model_android, :checked => @product.model_android %>
          </td>
          <td width=100>
            Android
          </td>
        
          <td width=20>
            <%= f.check_box :model_web, :checked => @product.model_web %>
          </td>
          <td width=100>
            Web
          </td>
        </tr>
      </table>
      
      <%= f.label "アプリアイコン" %>
      <%= f.file_field :img_icon, onchange:"fileChange(event,'disp',100,100)" %>
      <div id="disp">
        <%= image_tag @product.img_icon.url,:size => '100x100'  %>
      </div>

      <%= f.label "スクリーンショット" %>
      <%= f.file_field :img_screenshot_01, onchange:"fileChange(event,'screen_01',320,568)" %>
      <div id="screen_01">
        <% if @image_size_01[0] > @image_size_01[1] %>
          <%= image_tag @product.img_screenshot_01.url,:size => '568x320'  %>
        <% else %>
          <%= image_tag @product.img_screenshot_01.url,:size => '320x568'  %>
        <% end %>
      </div>

      <%= f.label "スクリーンショット" %>
      <%= f.file_field :img_screenshot_02, onchange:"fileChange(event,'screen_02',320,568)" %>
      <div id="screen_02">
        <% if @image_size_02[0] > @image_size_02[1] %>
          <%= image_tag @product.img_screenshot_02.url,:size => '568x320'  %>
        <% else %>
          <%= image_tag @product.img_screenshot_02.url,:size => '320x568'  %>
        <% end %>
      </div>

      <%= f.label "スクリーンショット" %>
      <%= f.file_field :img_screenshot_03, onchange:"fileChange(event,'screen_03',320,568)" %>
      <div id="screen_03">
        <% if @image_size_03[0] > @image_size_03[1] %>
          <%= image_tag @product.img_screenshot_03.url,:size => '568x320'  %>
        <% else %>
          <%= image_tag @product.img_screenshot_03.url,:size => '320x568'  %>
        <% end %>
      </div>

      <%= f.label "スクリーンショット" %>
      <%= f.file_field :img_screenshot_04, onchange:"fileChange(event,'screen_04',320,568)" %>
      <div id="screen_04">
        <% if @image_size_04[0] > @image_size_04[1] %>
          <%= image_tag @product.img_screenshot_04.url,:size => '568x320'  %>
        <% else %>
          <%= image_tag @product.img_screenshot_04.url,:size => '320x568'  %>
        <% end %>
      </div>
          
      <%= f.label "スクリーンショット" %>
      <%= f.file_field :img_screenshot_05, onchange:"fileChange(event,'screen_05',320,568)" %>
      <div id="screen_05">
        <% if @image_size_05[0] > @image_size_05[1] %>
          <%= image_tag @product.img_screenshot_05.url,:size => '568x320'  %>
        <% else %>
          <%= image_tag @product.img_screenshot_05.url,:size => '320x568'  %>
        <% end %>
      </div>

      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>