<div>
  <section class="user_info">
    <%= image_tag product.img_icon.url,:size => '80x80'  ,class: "gravatar" %>
    
    <%# デベロッパーページならエディットページへ%>
    <% if $app_edit_flg %>
      <%= link_to product.appname, edit_product_path(product) %><br />
      <%= product.summary %>
    <% else%>
      <%= link_to product.appname, product_path(product) %><br />
      <%= product.summary %>
    <% end %>

  </section>
  <hr />
</div>