<h1>
  <%=image_tag @product.img_icon.url,:size => '80x80' %>
  <%=@product.appname %>
</h1>

<center>
  
  <font size=5>お気に入り数 (<%= @product.bookmarking_users.count %>)</font>
  
  <table width=500>
    <td>
      <hr />
      概要:<br />
      <%= @product.summary %><br />
      
      詳細:<br />
      <%= @product.description %><br />
      
      <hr />
      
      <% if user_logged_in? %>
        <% if current_user.bookmarking?(@product) %>
          <%= link_to "お気に入り解除" ,bookmark_path(@product, redirect_url: request.url), method: :delete %>
        <% else %>
          <%= link_to "お気に入り登録" ,bookmarks_path(product_id: @product.id, redirect_url: request.url), method: :post %>
        <% end %>
      <% end %>
      
    <td />
  </table>
</center>