<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    
    <!--ロゴの表示-->
    <%= link_to "アプリ自慢", root_path, id:"logo" %>
    
    <!--トグルボタンの設置（スマホの場合）-->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  
  <div id="nav-content" class="collapse navbar-collapse">
    <!--リンクのリスト メニューリスト-->
    <ul class="nav navbar-nav navbar-right">
      
      <%#ユーザーログイン判定 %>
      <% if user_logged_in? %>
        <li><%= link_to "ユーザーページ", current_user %></li>
      <% else %>
        <li><%= link_to "ユーザーログイン", login_path %></li>
      <% end %>
      
      <% if !user_logged_in? %>
        <%#デベロッパーログイン判定 %>
        <% if true %>
          <li><%= link_to "デヴェロッパーページ", '#' %></li>
        <% else %>
          <li><%= link_to "デヴェロッパーログイン", '#' %></li>
        <% end %>
      <% end %>
      
      <%#スマホだったら %>
      <% if request.smart_phone? %>
        <%= render 'layouts/dropmenu' %>
      <% end %>
        
    </ul>
    
  </div>
</nav>