<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    
    <!--ロゴの表示-->
    <%= link_to "アプリ自慢", root_path, id:"logo" %>
    
    <!--トグルボタンの設置（スマホの場合）-->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  
  <div id="nav-content" class="collapse navbar-collapse">
    <!--リンクのリスト メニューリスト-->
    <ul class="nav navbar-nav navbar-right">
      
      <%#ユーザーログイン判定 %>
      <% if !dev_logged_in? %>
        <% if user_logged_in? %>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.nickname %> <b class="caret" id="headerdropmenu"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "アカウント編集", edit_user_path(current_user) %></li>
              <li><%= link_to "ログアウト", user_logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ユーザーログイン", user_login_path %></li>
        <% end %>
      <% end %>
      
      <%#デベロッパーログイン判定 %>
      <% if !user_logged_in? %>
        <% if dev_logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_developer.developername %> <b class="caret" id="headerdropmenu"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ", current_developer %></li>
              <li><%= link_to "アカウント編集", edit_developer_path(current_developer) %></li>
              <li><%= link_to "ログアウト", dev_logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "デヴェロッパーログイン", dev_login_path %></li>
        <% end %>
      <% end %>
      
      <%#スマホでトップ・サーチページだったら %>
      <% if current_page?(root_path) or current_page?(top_pages_search_path) %>
        <% if request.smart_phone? %>
          <%= render 'layouts/dropmenu' %>
        <% end %>
      <% end %>
      
    </ul>
    
  </div>
</nav>